<!DOCTYPE html>
<html>
<head>
  <title>Budget App</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="../js/main.js"></script>
  <link rel="stylesheet" href="../css/main.css">
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
    <!-- <script src='jquery.js'></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.12/jquery.transit.js"></script> </head>
<body>
  <h1 class="header">iBudget!</h1>

  <ul class="nav nav-tabs" style="margin-bottom: 2%;">
    <li class="active"><a href="/">Bills</a></li>
    <li><a href="/deposits">Deposits</a></li>
    <li><a href="/summary">Summary</a></li>
  </ul>

  <form action="/api/bills" method="POST">
  <input type="text" name="billName" placeholder="Add Bill">
  <input type="number" name="amount" placeholder="Monthly Amount">
  <button type="submit" class="btn btn-success btn-sm" style="margin:1%;" id="submitBill">Submit</button>
</form>

<div class="overflow">
  <table class="table table-hover">
   <tr>
     <th>Bill</th>
     <th>Amount</th>
     <th>Status</th>
   </tr>
   <tbody id="tbody"></tbody>
   <tr>
     <td id="total">Total</td>
     <td id="amountTotal"></td>
   <tr>
   <tr>
     <td id="totalDue"><strong>Amount Still Due</strong></td>
     <td id="amountDue"></td>
   </tr>
  </table>



</body>
</html>

