<!DOCTYPE html>
<html>
<head>
  <title>Budget App</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="../js/main.js"></script>
  <link rel="stylesheet" href="../css/main.css">
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
</head>
<body>
  <h1 class="header">iBudget!</h1>

  <ul class="nav nav-tabs" style="margin-bottom: 2%;">
    <li><a href="/">Bills</a></li>
    <li><a href="/deposits">Deposits</a></li>
    <li class="active"><a href="/summary">Summary</a></li>
  </ul>
</body>
